<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>List of users:</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<a href ="/users/new">Add new data</a>

<br/>
<hr/>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.name}"/>
      <td th:text="${user.age}"/>
      <td th:text="${user.email}"/>
      <td>
        <form th:method="GET" th:action="@{/users/edit/{id}(id=${user.id})}">
          <input type="submit" style="background: green; color: aliceblue" value="Edit"/>
        </form>
      </td>
      <td>
        <form th:method="DELETE" th:action="@{/users/{id}(id=${user.id})}">
          <input type="submit" style="background: red; color: aliceblue" value="Delete"/>
        </form>
      </td>
    </tr>
  </tbody>
</table>

</body>
</html>